code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;

@layer base {

    .customBody {
      @apply 
      min-h-screen
      bg-white dark:bg-gradient-to-b from-black to-zinc-900
      flex
      flex-col
    }

    .textColor {
      @apply
      text-gray-700 dark:text-gray-300
    }

    header {
      @apply 
      min-w-full
    }

    main {
      @apply 
      md:min-w-full 
      flex-grow
    }

    .divHeader {
      @apply 
      mx-auto 
      max-w-screen-sm md:max-w-screen-md lg:max-w-screen-md
      py-2
    }

    .divMain {
      @apply 
      mx-auto 
      max-w-screen-sm md:max-w-screen-md lg:max-w-screen-md
      my-4 md:my-16
    }

    .divFooter {
      @apply 
      mx-auto
      max-w-screen-sm md:max-w-screen-md lg:max-w-screen-md
    }

    footer {
      @apply 
      min-w-full 
      bg-white
      dark:bg-zinc-900
    }

    h1 {
      @apply
      my-8
      text-4xl
      textColor
      text-left
      font-semibold
      font-sans
    }
    
    h2 {
      @apply
      my-8
      text-2xl
      textColor
      text-left
      font-semibold
      font-sans
    }

    h3 {
      @apply
      my-4
      text-xl
      textColor
      text-left 
      font-semibold 
      font-sans
    }

    h4 {
      @apply 
      my-1
      text-lg
      textColor
      text-left
      font-normal
      font-sans
    }

    h5 {
      @apply
      text-sm 
      textColor
      text-left
      font-normal
      font-sans
    }
    
    p {
      @apply 
      my-2 
      text-base
      textColor
      text-left md:text-justify
      font-normal
      font-sans
    } 

    ol {
      @apply 
      mx-8
      my-2 
      text-base 
      textColor
      text-left 
      font-normal 
      font-sans 
      list-decimal
    }

    ul {
      @apply
      mx-8
      my-2
      text-base
      text-left
      textColor
      font-normal
      font-sans
      list-disc
    }

    li {
      @apply
      text-base
      textColor
    }

    table {
      border-spacing: 0px 0px;
      @apply
      my-8
      border
      border-zinc-200 dark:border-zinc-800
      border-separate
      overflow-hidden
      rounded-lg
      /* divide-y */
      /* divide-zinc-200 dark:divide-zinc-800 */
    }

    table>thead>tr:not(:last-child)>th,
    table>thead>tr:not(:last-child)>td,
    table>tbody>tr:not(:last-child)>th,
    table>tbody>tr:not(:last-child)>td,
    table>tfoot>tr:not(:last-child)>th,
    table>tfoot>tr:not(:last-child)>td,
    table>tr:not(:last-child)>td,
    table>tr:not(:last-child)>th,
    table>thead:not(:last-child),
    table>tbody:not(:last-child),
    table>tfoot:not(:last-child) {
      @apply
      border
      border-t-0 border-l-0 border-r-0 border-b
      border-zinc-200 dark:border-zinc-800
    }

    thead {
      @apply
      bg-zinc-200 dark:bg-zinc-800
    }

    tbody {
      @apply
      divide-y
      divide-zinc-200 dark:divide-zinc-800
    }

    th {
      @apply 
      py-2 
      px-2 
      text-sm 
      text-gray-600 dark:text-gray-400
      text-center 
      font-semibold 
      align-middle
    }

    td {
      @apply 
      py-2 
      px-2 
      text-sm 
      textColor
      text-center
      font-normal 
      align-middle
    }

    td li {
      @apply 
      text-xs 
      text-left 
      textColor
      font-normal
    }

    .navTitle {
      @apply  
      py-1
      text-lg 
      textColor
      text-left 
      font-semibold 
      font-sans 
      rounded-lg 
      hover:text-black dark:hover:text-white
    }

    .navItem {
      @apply 
      px-4 
      py-1 
      text-base
      textColor
      text-left
      font-medium
      font-sans
      hover:text-black dark:hover:text-white
    }
    
    .footerCopyright {
      @apply 
      text-sm 
      text-left 
      textColor
      font-medium 
      font-sans 
      hover:text-black dark:hover:text-white
    }

    .footerItem {
      @apply 
      px-4 
      py-1
      text-sm 
      textColor
      text-left
      font-medium
      font-sans
      hover:text-black dark:hover:text-white
    }

    .articleItem {
      @apply
      my-4
      pl-4
      pr-8
      py-4
      min-w-full
      flex
      flex-col
      bg-zinc-100 dark:bg-zinc-800
      rounded-md
    }

    .darkModeIcon {
      @apply
      h-5
      w-5
      textColor
      hover:text-black dark:hover:text-white
    }

}

@tailwind components;
@tailwind utilities;
