/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Tailwind imports */
@tailwind base;


@layer base {

    .customBody {
      @apply min-h-screen flex flex-col bg-gradient-to-b from-black to-zinc-900
    }

    header {
      @apply min-w-full
    }

    main {
      @apply min-w-full flex-grow
    }

    footer {
      @apply min-w-full bg-zinc-900
    }

    h1 {
      @apply
      my-8
      text-4xl
      text-slate-200
      text-left
      font-semibold
      font-sans
    }
    
    h2 {
      @apply
      my-8
      text-2xl
      text-slate-200
      text-left
      font-semibold
      font-sans
    }

    h3 {
      @apply
      my-4
      text-xl
      text-gray-300 
      text-left 
      font-semibold 
      font-sans
    }

    h4 {
      @apply 
      my-4
      text-xl 
      text-slate-200
      text-left 
      font-normal
      font-sans
    }
    
    p {
      @apply 
      my-2 
      text-base 
      text-slate-200
      text-justify 
      font-normal
      font-sans
    } 

    ol {
      @apply 
      mx-8
      my-2 
      text-base 
      text-slate-200 
      text-left 
      font-normal 
      font-sans 
      list-decimal
    }

    ul {
      @apply 
      mx-8 
      my-2 
      text-base 
      text-left 
      text-slate-200 
      font-normal 
      font-sans 
      list-disc
    }

    li {
      @apply 
      text-base
    }

    table {
      @apply 
      my-8 
      border 
      border-2
      border-slate-800
      rounded-lg
      divide-y 
      divide-slate-800
      /* overflow-hidden */
      /* ring-2 */
      /* ring-gray-100 */
    }

    thead {
      @apply 
      bg-gray-800
    }

    tbody {
      @apply
      divide-y
      divide-gray-800
    }

    th {
      @apply 
      py-2 
      px-2 
      text-sm 
      text-gray-300
      text-center 
      font-semibold 
      align-bottom
    }

    td {
      @apply 
      py-2 
      px-2 
      text-sm 
      text-gray-300
      text-left 
      font-normal 
      align-top
    }

    td li {
      @apply 
      text-xs 
      text-left 
      text-gray-300 
      font-normal
    }

    .divHeader {
      @apply 
      mx-auto 
      max-w-screen-lg
    }

    .divMain {
      @apply 
      mx-auto 
      max-w-screen-md 
      my-16
    }

    .divFooter {
      @apply 
      mx-auto 
      max-w-screen-lg
    }

    .navTitle {
      @apply 
      px-6 
      py-1
      text-lg 
      text-gray-300 
      text-left 
      font-semibold 
      font-sans 
      rounded-lg 
      hover:text-white
      /* bg-gradient-to-br  */
      /* from-indigo-50  */
      /* to-orange-50  */
      /* hover:to-indigo-100  */
    }

    .navItem {
      @apply 
      px-4 
      py-1 
      text-base 
      text-gray-300
      text-left 
      font-medium 
      font-sans
      hover:text-white
      /* hover:bg-gradient-to-br from-indigo-50 to-transparent hover:text-black */
    }
    
    .footerCopyright {
      @apply 
      text-sm 
      text-left 
      text-gray-300 
      font-medium 
      font-sans 
      hover:text-white
    }

    .footerItem {
      @apply 
      px-4 
      py-1 
      text-sm 
      text-gray-300
      text-left
      font-medium
      font-sans
      hover:text-white
      /* hover:bg-gradient-to-br from-indigo-50 to-transparent   */
    }
 
    .articleItem {
      @apply
      my-4
      pl-4 
      pr-8 
      py-4 
      flex 
      flex-col
      bg-zinc-800
      /* bg-zinck-900 */
      /* border */
      /* border-2 */
      /* border-cyan-500 */
      /* bg-gradient-to-br */
      /* from-purple-500  */
      /* to-purple-500  */
      rounded-md
    }

}

@tailwind components;
@tailwind utilities;
