html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #000;
  color: #fff;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

main {
  font-size: 2rem;
  font-weight: 700;
}